<h1><%= @variety.name %></h1>

<%= image_tag @variety.image, :class => 'feature' %>

<ul>
  <li>Name: <%= @variety.name %></li>
  <li>Color: <%= @variety.color %></li>
  <li>Originated in: <%= @variety.origin %></li>
  <li>Food pairings: <%= @variety.food %></li>
  <li>History: <%= @variety.history %></li>
</ul>
