<h1><%= @region.name %></h1>

<%= image_tag @region.image, :class => 'feature' %>

<ul>
  <li>Name: <%= @region.name %></li>
  <li>State: <%= @region.state %></li>
  <li>History: <%= @region.history %></li>


    <% @region.varieties.each do |variety| %>
      <li>Variety: <%= link_to variety.name, variety_path(:id => variety.id) %></li>
    <% end %>
    <% @region.wineries.each do |winery| %>
      <li>Winery: <%= link_to winery.name, winery_path(:id => winery.id) %></li>
    <% end %>
  
</ul>
