<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'Home', root_path %>
        |
        <%= link_to 'Regions', regions_path %>
        |
        <%= link_to 'Wineries', wineries_path %>
        |
        <%= link_to 'Varieties', varieties_path %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
